<h2>{{image.answer}}</h2>
<!--<canvas id="canvas" resize="" data-paper-scope="1" style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>-->
<img width="512" height="512" id="game" src="{{image.data64}}">
