<script type="text/javascript" src="/javascripts/dist/paper-full.js"></script>
<script defer src="/javascripts/pixels.js"></script>
<script type="text/javascript">
  paper.install(window);
</script>

<a href="/">Retour</a>

<div class="row">
  <div class="col-md-8">
    <canvas id="canvas" resize="" data-paper-scope="1" style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
    <img width="512" height="512" id="game" style="display: none;" src=''>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group mb-3">
          <input id="answerInput" type="text" class="form-control" placeholder="Your answer" maxlength="20">
          <button id="sendAnswer" class="btn btn-success" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6">
        <h4>Answers</h4>
        <ul></ul>
      </div>
      <div class="col-md-6">
        <h4>Liste des joueurs</h4>
        <ul id="players"></ul>
      </div>
    </div>
  </div>
</div>
